body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation Bar Styles */

.nav-bar {
  background-color: #e5d5d5;
  padding :12px 25px;
  margin: 0;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 70px;
  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: #333333;
  margin-bottom: 5px;
}

.logo {
  max-width: 24px;
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
}

/* End of Navigation Bar Styles */

/*header styles*/
h1 {
  text-align: center;
  margin-top: 50px;
}


/* End of header styles */

/* Counter Styles */
 .counter-article{
  align-items: center;
  
}

.counter-container, p{
  display: flex;
  align-items: center;
  padding: 6px 250px;
  margin-top: 5px;

 
}

p {
  font-size: 16px;
 
}

.counter-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333333;
  margin: 5px 80px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: transparent;
  color: #333333;
  border: 1px solid #333333;
}

.counter-value {
  font-size: 110px;
  margin-top: 20px;
}

.reset-container {
  display: flex;
  align-items: center;
  padding: 8px 250px;
 
}
.reset-button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #333333;
  margin: 3px 200px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


/* End of Counter Styles */

/* Footer Styles */
.footer-section {
  background-color: #e5d5d5;
  margin-top: 40px;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  
}

.footer-section a {
  color: #9e0e0ea5;
  font-weight: bold;
  text-decoration: none;
  margin: 0 10px;
}

.footer-section a:hover {
  color: #333333;
}

.footer-section p {
  margin: 10px auto;
  padding: 8px 300px;
  font-size: 12px;
  text-align: center; 
}

/* End of Footer Styles */